[submodule "website"]
    path = website
    url = https://github.com/QuantumLogicsLabs/PolyGuard-Website.git
    branch = main
[submodule "api"]
    path= src/api
    url= https://github.com/QuantumLogicsLabs/PolyGuard-Api.git